name: Build and Release

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node: [lts/*]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: MoeKoeMusic/MoeKoeMusic
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: build
        id: build
        env:
          os: ${{ matrix.os == 'ubuntu-latest' && 'linux' || matrix.os == 'windows-latest' && 'win' || 'mac' }}
        run: |
          VERSION=$(node -p "require('./package.json').version")-nightly-$(date +%Y%m%d)
          node -p "require('./package.json').version = '$VERSION'; JSON.stringify(require('./package.json'), null, 2)" > package.json
          npm run install-all
          npm run build
          npm run electron:build:${{ env.os }}
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "dist-win=dist_electron/MoeKoe_Music_Setup_${VERSION}.exe" >> "$GITHUB_OUTPUT"
          echo "dist-mac-arm=dist_electron/MoeKoe Music-arm64.dmg" >> "$GITHUB_OUTPUT"
          echo "dist-mac-intel=dist_electron/MoeKoe Music-x64.dmg" >> "$GITHUB_OUTPUT"
          echo "dist-linux=dist_electron/MoeKoeMusic.AppImage" >> "$GITHUB_OUTPUT"
          echo "dist-linux-deb=dist_electron/MoeKoeMusic.deb" >> "$GITHUB_OUTPUT"
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.build.outputs.version }}
          files: |
            ${{ steps.build.outputs.dist-win }}
            ${{ steps.build.outputs.dist-mac-arm }}
            ${{ steps.build.outputs.dist-mac-intel }}
            ${{ steps.build.outputs.dist-linux }}
            ${{ steps.build.outputs.dist-linux-deb }}
